

<form action="/logout" method="post">
<button class="logout" name="logout" style="float:right;">Logout</button>
<b style="float: right; padding-right:100px; padding-top:10px;">
  <%= username %></b>

</form>