<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Registration</title>
</head>
<center>
<body>
<div class="register__container">
<form action="/register" method="post">
<input name="email" type="email" class="register__email" placeholder="Enter Email"> 
</br>
<input name="password" type="password" class="register__password" placeholder="Enter Password">
</br>
<button class="register__button" name="register">Register</button>
</form>
</div>
</center>

</form>
</body>
</html>