<!DOCTYPE html>
<html lang="en">
  <head></head>
   <center>
  <body style="padding:50px;">
    <% include partials/_header %>
    <h2 style="font-size: 60px;">the coolestest shortener evaarz</h2>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL" style="font-size: 30px; font-weight: bold; letter-spacing: 2px;">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 400px; height: 50px;">
      <input type="submit" style="width : 200px; height: 55px;" value="Submit">
    </form>
  </body>
  </center>
</html>
